.body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: 'Josefin Sans';
}

.span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}


.main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}

.content {
    display: flex;
    flex-flow: column;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    padding-left: 100px;
}

.logo {
    width: 20%;
    position: relative;
    top: 40px;
    padding-left: 50px;

}

p {
    color: hsl(0, 36%, 70%);
    max-width: 60%;
    line-height: 25px;
    padding-left: 50px;
}

.header {
    font-size: 70px;
    letter-spacing: 10px;
    max-width: 60%;
    padding-left: 50px;
    padding-top: 50px;

}

.input__wrapper {
    position: relative;
}

.input__wrapper-button svg path {
    width: 5px;
}

.input__wrapper-button {
    width: 96px;
    height: 54px;
    border-radius: 40px;
    background: linear-gradient(103.26deg, #F6B0B2 30.53%, #F96262 148.21%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
    border: none;
    z-index: 1;
    position: absolute;
    left: 320px;


}

.input__wrapper-input {

    width: 345px;
    height: 54px;
    left: 136px;
    top: 212px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 40px;
    border: 1px solid #F6B0B2;

}

.input__wrapper-label {
    padding-left: 50px;
    width: 98px;
    height: 16px;

}

::placeholder {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Josefin Sans';
    color: #F6B0B2;
}